<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>Alphatonos</string>
		<string>uni0466</string>
		<string>uni04D2</string>
		<string>afii10017</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>Adieresis</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>Aacute</string>
		<string>uni1EB6</string>
		<string>Delta</string>
		<string>Acircumflex</string>
		<string>Alpha</string>
		<string>uni1E00</string>
		<string>uni1EB4</string>
		<string>A</string>
		<string>Aringacute</string>
		<string>Amacron</string>
		<string>uni04D0</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>uni1EA8</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>Lambda</string>
		<string>Agrave</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_LEFT_B</key>
	<array>
		<string>Beta</string>
		<string>B</string>
		<string>afii10019</string>
	</array>
	<key>@KERN_LEFT_C</key>
	<array>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>afii10035</string>
		<string>uni04AA</string>
		<string>glyph00481</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
	</array>
	<key>@KERN_LEFT_Chi</key>
	<array>
		<string>uni04FC</string>
		<string>uni0496</string>
		<string>afii10039</string>
		<string>afii10024</string>
		<string>uni04B2</string>
		<string>uni04DC</string>
		<string>uni04C1</string>
		<string>Chi</string>
		<string>X</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Omacron</string>
		<string>D</string>
		<string>uni1F4D</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Dcaron</string>
		<string>uni1ED2</string>
		<string>uni1ED0</string>
		<string>uni1ED6</string>
		<string>uni1ED4</string>
		<string>Theta</string>
		<string>Eth</string>
		<string>uni1ED8</string>
		<string>uni04E6</string>
		<string>Omicrontonos</string>
		<string>Oacute</string>
		<string>afii10032</string>
		<string>uni1ECE</string>
		<string>uni1ECC</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Omicron</string>
		<string>glyph00483</string>
		<string>glyph00484</string>
		<string>Dcroat</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
	</array>
	<key>@KERN_LEFT_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>E</string>
		<string>Ebreve</string>
		<string>uni1EC6</string>
		<string>uni1EC4</string>
		<string>uni1EC2</string>
		<string>uni1EC0</string>
		<string>uni1EBA</string>
		<string>uni0400</string>
		<string>uni1EBC</string>
		<string>uni04D6</string>
		<string>uni1EBE</string>
		<string>uni1EB8</string>
		<string>Ecircumflex</string>
		<string>Epsilon</string>
		<string>Epsilontonos</string>
		<string>afii10023</string>
		<string>afii10022</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>Edotaccent</string>
	</array>
	<key>@KERN_LEFT_Eta</key>
	<array>
		<string>Hcircumflex</string>
		<string>Itilde</string>
		<string>Ntilde</string>
		<string>uni04A2</string>
		<string>Ibreve</string>
		<string>Iota</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10055</string>
		<string>uni04C9</string>
		<string>uni1ECA</string>
		<string>uni04C0</string>
		<string>Nu</string>
		<string>Icircumflex</string>
		<string>I</string>
		<string>Iotadieresis</string>
		<string>afii10056</string>
		<string>Iogonek</string>
		<string>Imacron</string>
		<string>H</string>
		<string>Idotaccent</string>
		<string>M</string>
		<string>Iotatonos</string>
		<string>Mu</string>
		<string>Eta</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>uni04CD</string>
		<string>afii10145</string>
		<string>uni04CF</string>
		<string>N</string>
		<string>Idieresis</string>
		<string>uni1EC8</string>
		<string>Iacute</string>
		<string>Nacute</string>
		<string>afii10040</string>
		<string>afii10029</string>
		<string>afii10042</string>
		<string>afii10026</string>
		<string>Igrave</string>
		<string>uni1E3E</string>
		<string>Etatonos</string>
	</array>
	<key>@KERN_LEFT_Gamma</key>
	<array>
		<string>afii10052</string>
		<string>uni04F6</string>
		<string>afii10050</string>
		<string>uni0492</string>
		<string>Gamma</string>
		<string>afii10020</string>
	</array>
	<key>@KERN_LEFT_J</key>
	<array>
		<string>Utilde</string>
		<string>afii10057</string>
		<string>J</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>uni1EE6</string>
		<string>Ubreve</string>
		<string>U</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Jcircumflex</string>
		<string>uni1EE4</string>
	</array>
	<key>@KERN_LEFT_K</key>
	<array>
		<string>Kcommaaccent</string>
		<string>Kappa</string>
		<string>afii10028</string>
		<string>K</string>
		<string>uni04A0</string>
		<string>afii10061</string>
		<string>uni049E</string>
		<string>uni049C</string>
		<string>uni049A</string>
	</array>
	<key>@KERN_LEFT_L</key>
	<array>
		<string>L</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@KERN_LEFT_P</key>
	<array>
		<string>P</string>
		<string>afii10034</string>
		<string>Rho</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>Tau</string>
		<string>uni04AC</string>
		<string>afii10036</string>
		<string>Tbar</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>uni021A</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_LEFT_Upsilon</key>
	<array>
		<string>Ycircumflex</string>
		<string>uni04AE</string>
		<string>Ydieresis</string>
		<string>uni04B0</string>
		<string>Upsilontonos</string>
		<string>Yacute</string>
		<string>Upsilon</string>
		<string>Y</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>Upsilondieresis</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>@KERN_LEFT_V</key>
	<array>
		<string>afii10148</string>
		<string>uni0476</string>
		<string>V</string>
	</array>
	<key>@KERN_LEFT_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
	</array>
	<key>@KERN_LEFT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Zeta</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_LEFT_a</key>
	<array>
		<string>uni1E01</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>adieresis</string>
		<string>uni04D3</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>uni1EAD</string>
		<string>uni1EAF</string>
		<string>uni04D1</string>
		<string>afii10065</string>
		<string>abreve</string>
		<string>a</string>
		<string>uni1EA9</string>
		<string>uni1EB1</string>
		<string>uni1EA5</string>
		<string>uni1EB3</string>
		<string>uni1EA7</string>
		<string>uni1EB5</string>
		<string>uni1EA1</string>
		<string>uni1EB7</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>uni1EAB</string>
		<string>atilde</string>
		<string>aogonek</string>
	</array>
	<key>@KERN_LEFT_afii10037</key>
	<array>
		<string>uni04F2</string>
		<string>afii10062</string>
		<string>uni04F0</string>
		<string>afii10037</string>
		<string>uni04EE</string>
	</array>
	<key>@KERN_LEFT_afii10044</key>
	<array>
		<string>afii10044</string>
		<string>afii10146</string>
		<string>afii10046</string>
		<string>afii10058</string>
		<string>afii10059</string>
	</array>
	<key>@KERN_LEFT_afii10068</key>
	<array>
		<string>afii10100</string>
		<string>uni04FB</string>
		<string>afii10098</string>
		<string>afii10068</string>
		<string>uni04F7</string>
	</array>
	<key>@KERN_LEFT_afii10070</key>
	<array>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni0450</string>
		<string>ebreve</string>
		<string>edieresis</string>
		<string>uni1EC7</string>
		<string>uni1EC5</string>
		<string>emacron</string>
		<string>uni1EC3</string>
		<string>uni1EC1</string>
		<string>eacute</string>
		<string>uni04D7</string>
		<string>uni1EBB</string>
		<string>afii10070</string>
		<string>afii10071</string>
		<string>edotaccent</string>
		<string>uni1EBF</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>uni04DB</string>
		<string>uni1EBD</string>
		<string>afii10846</string>
	</array>
	<key>@KERN_LEFT_afii10072</key>
	<array>
		<string>uni04FD</string>
		<string>uni04DD</string>
		<string>uni04B3</string>
		<string>uni04C2</string>
		<string>afii10087</string>
		<string>uni0497</string>
		<string>x</string>
		<string>afii10072</string>
	</array>
	<key>@KERN_LEFT_afii10080</key>
	<array>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>omacron</string>
		<string>uni1ED3</string>
		<string>uni1EE1</string>
		<string>uni1ED1</string>
		<string>uni1ED7</string>
		<string>uni1ED5</string>
		<string>obreve</string>
		<string>uni1ED9</string>
		<string>uni04E7</string>
		<string>afii10195</string>
		<string>uni1ECF</string>
		<string>uni1ECD</string>
		<string>afii10080</string>
		<string>uni04EB</string>
		<string>otilde</string>
		<string>o</string>
		<string>omicron</string>
		<string>omicrontonos</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_afii10082</key>
	<array>
		<string>b</string>
		<string>thorn</string>
		<string>afii10095</string>
		<string>uni04ED</string>
		<string>p</string>
		<string>afii10082</string>
		<string>rho</string>
		<string>afii10086</string>
		<string>uni048F</string>
	</array>
	<key>@KERN_LEFT_afii10083</key>
	<array>
		<string>c</string>
		<string>cdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>afii10083</string>
		<string>ccircumflex</string>
		<string>uni04AB</string>
		<string>ccedilla</string>
	</array>
	<key>@KERN_LEFT_afii10085</key>
	<array>
		<string>ycircumflex</string>
		<string>uni0477</string>
		<string>ydieresis</string>
		<string>uni04F3</string>
		<string>afii10196</string>
		<string>uni04F1</string>
		<string>afii10085</string>
		<string>ygrave</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>uni04AF</string>
		<string>uni04EF</string>
		<string>afii10110</string>
		<string>yacute</string>
		<string>v</string>
		<string>y</string>
		<string>uni1EF9</string>
		<string>nu</string>
		<string>gamma</string>
	</array>
	<key>@KERN_LEFT_afii10092</key>
	<array>
		<string>afii10092</string>
		<string>afii10194</string>
		<string>afii10094</string>
		<string>afii10106</string>
		<string>afii10107</string>
	</array>
	<key>@KERN_LEFT_afii57929</key>
	<array>
		<string>quotedblright</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotereversed</string>
		<string>afii57929</string>
		<string>quoteright</string>
		<string>second</string>
		<string>quoteleft</string>
		<string>quotesingle</string>
		<string>minute</string>
	</array>
	<key>@KERN_LEFT_comma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>twodotenleader</string>
		<string>ellipsis</string>
		<string>quotedblbase</string>
		<string>period</string>
	</array>
	<key>@KERN_LEFT_eta</key>
	<array>
		<string>napostrophe</string>
		<string>nacute</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>uni1E3F</string>
		<string>ntilde</string>
		<string>eta</string>
		<string>ncommaaccent</string>
		<string>h</string>
		<string>ncaron</string>
		<string>uni04BB</string>
		<string>etatonos</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_LEFT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>Alphatonos</string>
		<string>uni0466</string>
		<string>uni04D2</string>
		<string>afii10017</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>Adieresis</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>Aacute</string>
		<string>uni1EB6</string>
		<string>Delta</string>
		<string>Acircumflex</string>
		<string>Alpha</string>
		<string>uni1E00</string>
		<string>uni1EB4</string>
		<string>A</string>
		<string>Aringacute</string>
		<string>Amacron</string>
		<string>uni04D0</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>uni1EA8</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>Lambda</string>
		<string>Agrave</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>uni0460</string>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>uni1ED2</string>
		<string>Gcircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED6</string>
		<string>uni1ED4</string>
		<string>Theta</string>
		<string>uni1ED8</string>
		<string>uni04E6</string>
		<string>Ohorn</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>afii10032</string>
		<string>uni1ECE</string>
		<string>uni1ECC</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>glyph00481</string>
		<string>glyph00482</string>
		<string>Cacute</string>
		<string>glyph00484</string>
		<string>glyph00485</string>
		<string>uni047A</string>
		<string>uni04A8</string>
		<string>uni047C</string>
		<string>Omicrontonos</string>
		<string>Ccircumflex</string>
		<string>afii10035</string>
		<string>uni047E</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Omacron</string>
		<string>G</string>
		<string>uni0480</string>
		<string>uni0478</string>
		<string>afii10053</string>
		<string>O</string>
		<string>Ocircumflex</string>
		<string>Q</string>
		<string>uni1EE2</string>
		<string>afii10147</string>
		<string>Oacute</string>
		<string>uni1EDC</string>
		<string>uni1EE0</string>
		<string>uni1EDA</string>
		<string>Cdotaccent</string>
		<string>uni1EDE</string>
		<string>uni04AA</string>
		<string>C</string>
		<string>OE</string>
		<string>uni04EA</string>
		<string>uni1F4D</string>
		<string>uni04E8</string>
		<string>Ograve</string>
		<string>uni050C</string>
		<string>Obreve</string>
		<string>Ccedilla</string>
		<string>Omicron</string>
	</array>
	<key>@KERN_RIGHT_Chi</key>
	<array>
		<string>uni04FC</string>
		<string>uni0496</string>
		<string>afii10039</string>
		<string>afii10024</string>
		<string>uni04B2</string>
		<string>uni04DC</string>
		<string>uni04C1</string>
		<string>Chi</string>
		<string>X</string>
	</array>
	<key>@KERN_RIGHT_J</key>
	<array>
		<string>afii10057</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@KERN_RIGHT_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>uni04AC</string>
		<string>afii10036</string>
		<string>afii10051</string>
		<string>uni04B4</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>uni04A0</string>
		<string>afii10060</string>
		<string>uni021A</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_RIGHT_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Utilde</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>uni1EE6</string>
		<string>uni1EE4</string>
		<string>Ubreve</string>
		<string>U</string>
	</array>
	<key>@KERN_RIGHT_Upsilon</key>
	<array>
		<string>Ycircumflex</string>
		<string>uni04AE</string>
		<string>Ydieresis</string>
		<string>uni04B0</string>
		<string>Upsilontonos</string>
		<string>Yacute</string>
		<string>Upsilon</string>
		<string>Y</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>Upsilondieresis</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>@KERN_RIGHT_V</key>
	<array>
		<string>afii10148</string>
		<string>uni0476</string>
		<string>V</string>
	</array>
	<key>@KERN_RIGHT_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
	</array>
	<key>@KERN_RIGHT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Zeta</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.4_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>uni1E01</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>adieresis</string>
		<string>uni04D3</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>uni1EAD</string>
		<string>uni1EAF</string>
		<string>uni04D1</string>
		<string>afii10065</string>
		<string>abreve</string>
		<string>a</string>
		<string>uni1EA9</string>
		<string>uni1EB1</string>
		<string>uni1EA5</string>
		<string>uni1EB3</string>
		<string>uni1EA7</string>
		<string>uni1EB5</string>
		<string>uni1EA1</string>
		<string>uni1EB7</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>uni1EAB</string>
		<string>atilde</string>
		<string>aogonek</string>
	</array>
	<key>@KERN_RIGHT_afii00208</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>afii00208</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_RIGHT_afii10029</key>
	<array>
		<string>uni0508</string>
		<string>uni04C5</string>
		<string>afii10058</string>
		<string>afii10029</string>
		<string>uni0512</string>
	</array>
	<key>@KERN_RIGHT_afii10037</key>
	<array>
		<string>afii10062</string>
		<string>uni04F0</string>
		<string>afii10037</string>
		<string>uni04F2</string>
		<string>uni04EE</string>
	</array>
	<key>@KERN_RIGHT_afii10041</key>
	<array>
		<string>uni04B6</string>
		<string>afii10041</string>
		<string>uni04CB</string>
		<string>uni04F4</string>
	</array>
	<key>@KERN_RIGHT_afii10068</key>
	<array>
		<string>nacute</string>
		<string>afii10090</string>
		<string>uni04A5</string>
		<string>afii10078</string>
		<string>uni04A3</string>
		<string>afii10094</string>
		<string>afii10088</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>uni049B</string>
		<string>uni04E5</string>
		<string>uni04FB</string>
		<string>uni04C8</string>
		<string>ntilde</string>
		<string>eta</string>
		<string>uni045D</string>
		<string>etatonos</string>
		<string>napostrophe</string>
		<string>afii10081</string>
		<string>afii10068</string>
		<string>uni04F7</string>
		<string>ncaron</string>
		<string>uni04CE</string>
		<string>uni04F9</string>
		<string>uni04CA</string>
		<string>afii10100</string>
		<string>afii10082</string>
		<string>uni04E3</string>
		<string>afii10107</string>
		<string>afii10109</string>
		<string>m</string>
		<string>n</string>
		<string>uni1E3F</string>
		<string>p</string>
		<string>uni048B</string>
		<string>afii10091</string>
		<string>ncommaaccent</string>
		<string>afii10096</string>
		<string>afii10079</string>
	</array>
	<key>@KERN_RIGHT_afii10070</key>
	<array>
		<string>uni0501</string>
		<string>uni0502</string>
		<string>uni0503</string>
		<string>cdotaccent</string>
		<string>gbreve</string>
		<string>uni1EC1</string>
		<string>edieresis</string>
		<string>uni04E9</string>
		<string>alpha</string>
		<string>alphatonos</string>
		<string>ccedilla</string>
		<string>afii10070</string>
		<string>afii10071</string>
		<string>edotaccent</string>
		<string>uni04A9</string>
		<string>uni0481</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>sigma1</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>gcircumflex</string>
		<string>uni047D</string>
		<string>uni04DB</string>
		<string>ohorn</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>uni1EB9</string>
		<string>cacute</string>
		<string>ecircumflex</string>
		<string>uni1EDB</string>
		<string>uni0479</string>
		<string>uni0450</string>
		<string>ebreve</string>
		<string>uni1EC7</string>
		<string>afii10083</string>
		<string>uni1EC5</string>
		<string>emacron</string>
		<string>uni1EC3</string>
		<string>ccircumflex</string>
		<string>afii10086</string>
		<string>eacute</string>
		<string>uni04D7</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>uni1EBF</string>
		<string>ecaron</string>
		<string>afii10101</string>
		<string>c</string>
		<string>uni04AB</string>
		<string>d</string>
		<string>g</string>
		<string>uni1EDD</string>
		<string>oe</string>
		<string>q</string>
		<string>uni1EDF</string>
		<string>uni050D</string>
		<string>uni1EE3</string>
		<string>afii10846</string>
		<string>sigma</string>
		<string>e</string>
	</array>
	<key>@KERN_RIGHT_afii10072</key>
	<array>
		<string>uni04FD</string>
		<string>uni04DD</string>
		<string>uni04B3</string>
		<string>uni04C2</string>
		<string>afii10087</string>
		<string>uni0497</string>
		<string>x</string>
		<string>afii10072</string>
	</array>
	<key>@KERN_RIGHT_afii10077</key>
	<array>
		<string>uni0513</string>
		<string>uni04C6</string>
		<string>afii10077</string>
		<string>afii10106</string>
	</array>
	<key>@KERN_RIGHT_afii10080</key>
	<array>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>omacron</string>
		<string>uni1ED3</string>
		<string>uni1EE1</string>
		<string>uni1ED1</string>
		<string>uni1ED7</string>
		<string>uni1ED5</string>
		<string>obreve</string>
		<string>uni1ED9</string>
		<string>uni04E7</string>
		<string>afii10195</string>
		<string>uni1ECF</string>
		<string>uni1ECD</string>
		<string>afii10080</string>
		<string>uni04EB</string>
		<string>otilde</string>
		<string>o</string>
		<string>omicron</string>
		<string>omicrontonos</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_afii10085</key>
	<array>
		<string>ycircumflex</string>
		<string>uni0477</string>
		<string>ydieresis</string>
		<string>uni04F3</string>
		<string>afii10196</string>
		<string>uni04F1</string>
		<string>afii10085</string>
		<string>ygrave</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>uni04AF</string>
		<string>uni04EF</string>
		<string>afii10110</string>
		<string>yacute</string>
		<string>v</string>
		<string>y</string>
		<string>uni1EF9</string>
		<string>nu</string>
		<string>gamma</string>
	</array>
	<key>@KERN_RIGHT_afii10089</key>
	<array>
		<string>afii10089</string>
		<string>uni04B7</string>
		<string>uni04F5</string>
		<string>uni04CC</string>
	</array>
	<key>@KERN_RIGHT_afii10102</key>
	<array>
		<string>afii10102</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@KERN_RIGHT_afii57929</key>
	<array>
		<string>quotedblright</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotereversed</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>second</string>
		<string>afii57929</string>
		<string>quotesingle</string>
		<string>minute</string>
	</array>
	<key>@KERN_RIGHT_comma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>twodotenleader</string>
		<string>ellipsis</string>
		<string>quotedblbase</string>
		<string>period</string>
	</array>
	<key>@KERN_RIGHT_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uni1EE7</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uni1EE5</string>
		<string>upsilondieresistonos</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>upsilondieresis</string>
		<string>uni1EEB</string>
		<string>upsilontonos</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>utilde</string>
		<string>uhorn</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>u</string>
		<string>ubreve</string>
		<string>upsilon</string>
	</array>
	<key>@KERN_RIGHT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
